/*La siguiente hoja de estilo, define una imagen (google.jpg) de fondo que se encuentra en una carpeta superior llamada "imágenes". Además formatea los colores de los encabezados h1 y h4, como de todos los
párrafos  */


/*body {background-image:url("../imagenes/google.jpg");}*/


body {background-color:#EBEF00;}
h3 {color:green;}
h4 {color:blue;}
p {color:black; font-size:22pt; font-family:"Verdana",sans-serif;}

